* {
    padding: 0px;
    margin: 0%;
    font-family: 'Raleway', 'Helvetica';
}

header {
    height: 50px;
    width: auto;
    background-color: 545c52;
    color: white;
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 3000px;
}
@media (max-width: 375px) {
    header {
        height: auto;
        width: auto;
        padding: 0px;
        flex-direction: column;
        align-items: center;  
        font-size: 10px;  
    }
    header ul {
        padding: 0px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    header nav {
        padding: 0px ;
    }
    .imagen-contactar {
        width: 320px;
        padding: 0px;
        margin: 0px;
    }
    .img-de-servicios-mb img{
        width: 320px;
        padding: 0px;
        margin: 0px;
    }
    img{
        width: 320px;
        padding: 0px;
        margin: 0px;
    }
    .logo{
        width: 48px;
        height: 48px;
    }
}

header nav {
    padding: 12px ;
    color: white;
    display: flex;
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}
header ul li {
    padding: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
header img {
    padding: 8px;
    margin-top: 12px;
    height: 40;
}
.atajo-servicios {
    padding: 24px 12px;
    padding-top: 12px;
}
.banner h {
    font-weight: 800;
}
.banner p {
    font-weight: 400;
}
.banner-comentario {
    background-color: bfedef;
    height: auto;
    width: 100%;
    display: flex;
    align-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}
footer {
    background-color: 545c52;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: space-between;

}
footer h6{
    font-weight: 400;
}
footer p {
    font-weight: 300;
}

.formulario-contacto{
    padding: 15% 15%;
}
.seccion-de-contacto{
    padding-top: 50px;
    padding-bottom: 50px;

}
h3 {
    text-align: center;
    background-color: beige;
    color: black;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 700;
}
h4{
    font-weight: 400;
}
.mi-bio{
    padding-top: 48px;
    padding-bottom: 48px;
}
.servicios-a-ofrecer{
    padding-top: 48px;
    padding-bottom: 48px;
}
